body {
    background: url("https://pokewalls.files.wordpress.com/2013/06/eeveelutions8-1920x1200.jpg") no-repeat;
    background-color: #A9ABBD;
  }

.header .logo {
    float: left;
    margin: 8px 0px 0px -148px;
    padding-right: 200px;
    padding-bottom: 5px;
  }

.header{
    background:#7cfc00 url("http://i.imgur.com/fjXTRcl.png") no-repeat;
}

.nightclub {
	background:#FF69B4;
	margin:-3px
}

.userlist{
    background:#ced8e4;
}

.chat-log {
    background: #ced8e4 
    border-bottom: 1px solid #1affff;
    border-left: 1px solid #1affff;
}

.pm-window-kokonoesan h3:hover,.pm-window-kokonoesan.focused h3,.pm-window-kokonoesan.focused h3:hover {
      background:#f472c1 url("http://www.serebii.net/pokedex-dp/icon/419.gif") no-repeat;
      background-position:225px -8px;
      color:#f472c1;
      border-color:#f472c1
}

.pm-window-kokonoesan h3 small,.pm-window-kokonoesan h3 .minimizebutton,.pm-window-kokonoesan h3 .closebutton,.pm-window-kokonoesan h3:hover .minimizebutton {
      color:#f472c1
}

.pm-window-kokonoesan h3 .closebutton:hover+.minimizebutton.minimizebutton {
      color:#f472c1
}

.pm-window-kokonoesan h3 .closebutton:hover {
      color:#f472c1
}

.pm-window-kokonoesan h3 .minimizebutton:hover {
      color:#f472c1
}

.pm-window-kokonoesan .pm-log,.pm-window-kokonoesan.focused .pm-log {
      background:rgba(236,255,251,0.9) url("http://i.imgur.com/Ix37Qfk.png") no-repeat right top;
      border-color:#f472c1
}

.pm-window-kokonoesan .pm-log-add,.pm-window-kokonoesan.focused .pm-log-add {
      background:#f472c1;
      border-color:#f472c1
}

.pm-window-kokonoesan .pm-log-add .textbox{
      border-color:#f472c1;
      background:rgba(243,255,253,0.95);
      color:#000
}

.pm-log{
    background:#ced8e4;
}

.pm-window h3{
    background: #ced8e4 url("http://pldh.net/media/pokecons_action/470.gif") bottom right no-repeat;
    background-position: 200px;
    color:#006666;
}

.pm-window h3:hover {
    color:#ccffff;
    background: #ffffff ;
  }

.pm-window.focused h3, .pm-window.focused h3:hover {
	background: #b3ffff url("http://pldh.net/media/pokecons_action/470.gif") bottom right no-repeat;
    background-position: 200px;
	color:#006666;
}

.pm-log-add{
    background:#ccffff ;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
    background: #ced8e4;
      border-color:#ced8e4;
    color: #000;
  }

.tabbar a.button {
    background:#ced8e4;
    color:#000;
    border-color:#ced8e4;
}

.maintabbarbottom {
    background: #ced8e4;
    border-color:#ced8e4;
  }

.teamlist{
    background:#ced8e4;
}

.pad{
    background:#ced8e4;
}

.team{
    background:#ced8e4;
    color:#ced8e4;
}

.teamchart{
    background:#ced8e4;
}

.teamchart, .teamchart li{
    background:#ced8e4;
}

.battle-log{
    background:#ced8e4;
}

.ps-room .battle-controls{
    background:#ced8e4;
}

.battle-log h2{
    background:white;
    color:#ced8e4;
}

.ps-room .battle-log-add{
    background:#ced8e4;
}

.rightbar, .leftbar{
    background:#ced8e4;
    color:white;
}

.ps-popup{
    background:#ced8e4;
}
  
 .chat-log-add{
    background:#ced8e4;
  }

.mainmenufooter a {
    color: #000000;
    text-shadow: 0px 0px 1px #ccffff, 0px 0px 1px #ccffff, 0px 0px 1px #ccffff;
}

.mainmenufooter a:hover {
    color: #009999;
}

.menugroup .button {
    background: #ced8e4;
        box-sizing: border-box;
    font-size: 10pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    display: inline-block;
    padding: 5px 7px 3px;
    width: 200px;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0px #0F1923;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #474747;
    border: 3px solid #474747;
}
  
.menugroup button.big {
    font-size: 12pt;
  }
  
.menugroup .button:hover {
    background: #ced8e4;
  }
    #lobby-userlist-users {
    background: url("http://pldh.net/media/pokecons_action/470.gif") right no-repeat;
    }
    
